body {
    background-image: url("../images/gravel/gravel.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin: 0 auto;
    padding: 0;
}

div {
    width: 960px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: #4aaaa5;
    color: #ffffff;
    width: fit-content;
    margin: 0;
    padding: 20px;
}

nav {
    color: #777777;
    width: fit-content;
    float: right;
    position: relative;
    bottom: 44px;
}

a {
    color: #777777;
    font-style: normal;
    text-decoration: none;
}

a:link {
    color: #777777;
}

a:visited {
    color: #4aaaa5;
}

a:hover {
    color: #4882b8;
}

a:active {
    color: #48b873;
}

main {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}

footer {
    background-color: #666666;
    color: #ccc4ae;
    font-size: small;
    text-align: center;
    padding: 20px 0 5px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 8px solid #4aaaa5;
}

.top-container {
    margin: 0 auto;
    width: 960px;
}

.container {
    width: 960px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: auto;
    line-height: 30px;
    overflow: scroll;
}

#left-nav {
    padding: 0 20px;
    border-right: 1px solid #cccccc;
}

#center-nav {
    padding: 0 20px;
    border-right: 1px solid #cccccc;
}

#right-nav {
    padding: 0 20px;
}

#about-me {
    float: left;
}

#profile-pic {
    float: left;
    margin-right: 20px;
}

/*  CONTACT PAGE-SPECIFIC STYLING */

input {
    width: 95%;
    padding: 5px 0 5px 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

button {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 30px;
    font-size: medium;
}

button:hover {
    color: #ffffff;
    background-color: #4882b8;
}

#input-message {
    height: 100px;
    width: 95%;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    border-color: #cccccc;
    resize: none;
}

/*  PORTFOLIO PAGE-SPECIFIC STYLING */

.portfolio-boxes {
    width: 300px;
    height: 250px;
    background-color: #cccccc;
    margin: 20px 30px 20px 0;
    float: left;
}

.hover-outline:hover {
    outline: 5px solid #4882b8;
    outline-offset: 5px;
}

h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: normal;
    font-size: medium;
    padding: 15px 0;
    position: relative;
    bottom: 100px;
}

h3:hover {
    background-color: #4882b8;
}